html, body {
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: #000C36;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 79px 0px 79px;
}

.header img{
    width: 99px;
    height: 108px;
}

h1{
    font-family: "Carter One", system-ui;
}

label{
    font-size: 16px;
}

textarea{
    width: 325px;
    height: 78px;
    border: none;
    border-radius: 10px;
    background-color: #3B4877;
    color: white;
    resize: none;
    padding: 1em 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin-top: 1em;
}

/* users form style */



.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 524px;
    width: 330px;
    margin: 0 auto 100px auto;
}

input[type='radio']{
    opacity: 0;          /* Make it see-through */
    position: absolute;  /* Take it out of the layout flow */
    width: 0;            /* Shrink it */
    height: 0;
    pointer-events: none;
}

.moodContainer, .typeContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
    width: 300px;
}

.moodContainer label, .typeContainer label{
    background-color: #3B4877;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    width: fit-content;
    padding: 0.5em 1em;
    cursor: pointer;
}


.moodContainer div:has(input:checked) label,
.typeContainer div:has(input:checked) label {
    
    /* 2. Apply your Active Styles */
    box-shadow: 0 0px 2px rgb(255, 255, 255); 
    border: 1px solid white;
    color: white;
    transform: translateY(-2px);
    transition: all 0.2s ease;
}


.favorite, .island {
    margin-top: 1em;
}


textarea::placeholder{
    color: #05060C;
    position: absolute;
    padding: 1em; 
    top: 0;
    left: 0;

}

button{
    background-color: #51E08A;
    color: #000C36;
    width: 325px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 1em;
}

.reply{
    max-width: 334px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.reply p{ 
    max-width: 325px;
    font-size: 16px;
}

.reply h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.people{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    text-align: center;
    height: 50px;
    background-color: #3B4877;
    border: none;
    color: white;
    border-radius: 10px;
    margin-bottom: 1em;
    width: 325px;
    font-size: 20px;
}

input::placeholder{
    font-size: 20px;
    color: #05060C;
}

.people button{
    margin-top: 0;
}