html, body {
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: #000C36;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 79px 0px 79px;
}

.header img{
    width: 99px;
    height: 108px;
}

h1{
    font-family: "Carter One", system-ui;
}

label{
    font-size: 16px;
}

textarea{
    width: 325px;
    height: 78px;
    border: none;
    border-radius: 10px;
    background-color: #3B4877;
    color: white;
    resize: none;
    padding: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin-bottom: 1em;
}

textarea::placeholder{
    color: #05060C;
    position: absolute;
    padding: 1em;
    top: 0;
    left: 0;
}

label{
    margin-bottom: 0.5em;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 524px;
    width: 330px;
    margin: 0 auto 100px auto;

}

.favorite, .mood, .type{
    display: flex;
    flex-direction: column;
}

button{
    background-color: #51E08A;
    color: #000C36;
    width: 325px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 1em;
}

.reply{
    max-width: 334px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.reply p{ 
    max-width: 325px;
    font-size: 16px;
}

.reply h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}